---
const { env } = Astro.locals.runtime;
const STATIC1 = process.env.STATIC || 'false';
const STATIC2 = env.STATIC || 'false';

console.log('\n========== Layout.astro ==========');
console.log(`STATIC1: ${STATIC1}`);
console.log(`STATIC2: ${STATIC2}`);
console.log('==================================')

const NO_INDEX = env.NO_INDEX === 'true' || env.NO_INDEX === true;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{NO_INDEX && <meta name="robots" content="noindex" />}
		{NO_INDEX && <meta name="googlebot" content="noindex" />}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
